<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,101},{99,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,99}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>blood_green.png</key>
      <dict>
        <key>frame</key>
        <string>{{1900,1952},{100,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,14}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>blood_red.png</key>
      <dict>
        <key>frame</key>
        <string>{{1900,1968},{100,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,14}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>blood_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1900,1984},{100,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,14}}</string>
        <key>sourceSize</key>
        <string>{100,14}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>map01.png</string>
      <key>textureFileName</key>
      <string>map01.png</string>
      <key>size</key>
      <string>{0,0}</string>
    </dict>
  </dict>
</plist>